body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.header_line{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.header_line_content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.header_line_section{
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}
.section-left{
    flex: 1 0;
    padding: 0 15px;
}
.section-left-logo{
    float: left;
    padding-left: 0;
    padding-right: 20px;
    z-index: 130;
}
.section-logo-img{
    display: block;
    width: 156px;
    height: 50px;
    background: url(https://grass.su/local/templates/asgard/images/logo_su.svg) no-repeat center center;
}
.section-left-menu{
    padding: 0;
    min-height: 27px;
    text-align: left;
    list-style-type: none;
    font-size: 11px;
    float: left;
    display: table;
    margin: 0;
    position: relative;
    padding-top: 7px;
    z-index: 220;
}
.section-left-menu-li{
    display: inline-block;
    position: relative;
}
.section-left-menu-a{
    display: block;
    width: auto;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    color: #585858;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-left: none;
}
.section-right{
    width: auto;
    padding: 0 15px;
}
.section-right-content{
    font-family: 'Montserrat', 'Myriad Pro', Arial, sans-serif;
    display: inline-block;
    position: relative;
}
.section-right-content-span{
    color: #919294;
    font-size: 12px;
    line-height: 30px;
}
.section-right-content-a1{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid transparent;
    color: #000;
    text-decoration: none;
    margin: 0 0 0 15px;
}
.section-right-content-a2{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid #c7c7c7;
    color: #000;
    text-decoration: none;
    margin: 0 0 0 15px;
}
.header_line_two{
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
    transition: all .4s ease;
}
.header_line_two_conten{
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.header_line_two_section{
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}
.header_line_two_section1{
    min-width: 230px;
    max-width: 287px;
    width: 21%;
    display: flex;
    padding: 0 15px;
}
.header_line_two_section1-ul{
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 11px;
    margin: 3px 0;
    position: relative;
    z-index: 960;
}
.header_line_two_section1-li{
    position: relative;
}
.header_line_two_section1-content-a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg,#5dc54f,#2ca836);
    color: #fff;
    border-radius: 6px;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 0 25px;
    text-decoration: none;
    text-align: center;
}
.header_line_two_section1-content-a-burger{
    display: inline-block;
    width: 20px;
    height: 15px;
    position: absolute;
    right: 25px;
    content: '';
    background: url(https://grass.su/local/templates/asgard/components…trix/menu/top_desktop_menu/images/icon-burger.svg) no-repeat;
}
.header_line_two_section2{
    flex: 1 0 0;
    min-width: 260px;
    display: flex;
    padding: 0 15px;
}
.header_line_two_section2-content{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.header_line_two_section2-input{
    position: relative;
    background: #f5f6f8;
    border-radius: 8px;
    display: block;
    width: 100%;
    border-collapse: separate;
    font-size: 14px;
}
.header_line_two_section2-input-section{
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 20px;
    border: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    background: #f5f6f8;
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
    display: block;
    width: 100%;
    line-height: 1.42857143;
    color: #333;
}
.header_line_two_section2-input-section{
    position: absolute;
    right: 50px;
    z-index: 3;
    font-size: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    line-height: normal;
}
.header_line_two_section2-input-button{
    width: 60px;
    height: 50px;
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
    padding: 0;
}
.header_line_two_section2-input-i{
    display: block;
    min-width: 16px;
    height: 16px;
    font-size: 13px;
    background: url(https://grass.su/local/templates/asgard/components…earch.title/.default/images/icon-adapt-search.svg) center center no-repeat;
    transition: all .4s ease;
}
.header_line_two_section3{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.header_line_two_section3-content1{
    width: 50%;
    min-width: 180px;
}
.header_line_two_section3-content1-a{
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 50px;
    background: url(https://grass.su/local/templates/asgard/images/icon-loginn.svg) no-repeat center left;
}
.header_line_two_section3-content2{
    width: 50%;
    min-width: 180px;
    margin-top: 0px;
}
.header_line_two_section3-content2-a{
    position: relative;
    display: table;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    color: #000;
    padding-left: 45px;
    background: url(https://grass.su/local/templates/asgard/images/icon-cartn.svg) no-repeat left 4px;
}
.header_line_two_section3-content2-text{
    white-space: nowrap;
    padding-left: 8px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}
.header_title{
    padding-top: 10px;
}
.header_title_content{
    padding: 0 0 45px;
    position: relative;
    min-height: 450px;
}
.header_title_content-page{
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.header_title_content-page_menu{
    color: #adadad;
    text-decoration: none;
    margin: 10px 0;
}
.header_title_content-page_menu-div{
    float: left;
    white-space: nowrap;
    line-height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}
.header_title_content-page_menu-div-a{
    border-bottom: none;
    color: #adadad;
    text-decoration: none;
}
.t1{
    font-size: 13px;
    white-space: normal;
}
.header_title_content-page_product{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
}
.header_title_content-page_product1{
    background: linear-gradient(#5fbb43,#009a31);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin: 10px;
    text-align: center;
    line-height: 41px;
    z-index: 60;
}
.header_title_content-page_product2{
    color: #24a634;
    font-size: 14px;
    font-weight: 700;
    padding: 8px;
    position: absolute;
    left: 0;
    text-align: center;
    margin-left: 60px;
    margin-top: 11px;
    z-index: 60;
    background-color: rgba(255,255,255,0.92);
    border-radius: 30px;
}
.header_title_content-page_product3{
    padding-right: 30px;
    padding-bottom: 20px;
    position: relative;
    width: 35%;
}
.header_title_content-page_product3-galery{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
.header_title_content-page_product3-img{
    padding: 50px 0 30px;
}
.header_title_content-page_product3-img_img{
    visibility: visible;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.header_title_content-page_product4{
    width: 65%;
    position: relative;
    vertical-align: top;
}
.header_title_content-page_product4-h{
    font-size: 36px;
    color: #000;
    padding: 0 0 5px;
    width: 80%;
    line-height: 100%;
    margin-bottom: 20px;
    font-weight: 700;
}
.header_title_content-page_product4-t100{
    background-color: #f7fbf7;
    padding: 30px 25px;
    border-radius: 12px;
    width: 66.66666667%;
}
.header_title_content-page_product4-t100-1{
    display: inline-block;
    padding-bottom: 20px;
}
.header_title_content-page_product4-t100-2{
    padding: 3px 0;
    border: 0;
    box-shadow: none;
}
.header_title_content-page_product4-t100-2_1{
    display: inline-block;
    vertical-align: middle;
    background: url(https://grass.su/bitrix/components/api/reviews.element.rating/templates/asgard_vote_min/images/sprite_stars_min.png) no-repeat 0 0;
    height: 15px;
    width: 105px;
    margin-right: 5px;
}
.header_title_content-page_product4-t100-2_2{
    display: inline-block;
    vertical-align: middle;
}
.header_title_content-page_product4-t100-2_2-a{
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #0c0c0c;
}
.header_title_content-page_product4-t101{
    padding-top: 10px;
    display: block;
    font-weight: 600;
}
.header_title_content-page_product4-t102{
    display: flex;
    align-items: center;
}
.header_title_content-page_product4-t102_price{
    display: flex;
    align-items: center;
}
.header_title_content-page_product4-t102_price_text1{
    font-weight: 700;
    font-size: 26px;
    color: #000;
    display: inline-block;
}
.header_title_content-page_product4-t102_price_text2{
    position: relative;
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
}
.header_title_content-page_product4-t103{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.header_title_content-page_product4-t103-span{
    color: #fff;
    background-color: #009401;
    font-weight: 400;
    height: 23px;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    padding: 2px 16px;
    display: inline-block;
    margin-right: 10px;
}
.header_title_content-page_product4-t103-a1{
    display: flex;
    height: 23px;
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 10px rgb(135,135,135,0.15);
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    padding: 2px 16px;
    margin-right: 10px;
}
.header_title_content-page_product4-t103-a2{
    position: relative;
    display: flex;
    height: 23px;
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 10px rgb(135 135 135 / 15%);
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    padding: 2px 16px;
}
.header_title_content-page_product4-t104{
    display: table;
    padding-top: 20px;
}
.header_title_content-page_product4-t104-1{
    width: 140px;
    height: 40px;
    overflow: hidden;
    text-align: left;
    margin-right: 10px;
}
.header_title_content-page_product4-t104-1-a{
    cursor: pointer;
    display: inline-block;
    border: 1px solid #009401;
    padding: 9px 20px;
    text-decoration: none;
}
.header_title_content-page_product4-t105{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.header_title_content-page_product4-t105-li{
    height: 36px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    padding: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(0,148,1,0.14);
    text-decoration: none;
}
.header_title_content-page_product4-t106{
    margin-top: 30px;
    border-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
}
.header_title_content-page_product4-t106-li{
    margin-bottom: 0;
    position: relative;
    display: block;
}
.header_title_content-page_product4-t106-a{
    background-color: #fff;
    padding: 15px 30px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border: 0;
    border-bottom: 3px solid #f2f2f2;
    margin-right: 2px;
    position: relative;
    display: block;
    text-decoration: none;
}
.tab-pane{
    font-size: 16px;
    padding-top: 30px;
    display: block;
}
.tab-pane-table{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 30px;
}
.tab-pane-table-content{
    width: 50%;
    max-width: 360px;
    justify-content: space-between;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.tab-pane-table-content-spane{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    min-width: 230px;
}
.tab-pane-table-content-krug{
    display: flex;
    min-width: 95px;
}
.tab-pane-table-content-krug-span{
    background: #5fbb43;
    max-width: 13px;
    max-height: 13px;
    min-width: 13px;
    min-height: 13px;
    border-radius: 30px;
    border: 1px solid #5fbb43;
    margin-right: 5px;
    padding: 0;
}
.footer_content{
    padding-top: 20px;
    display: block;
}
.footer_content_img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer_content_img_box{
    width: 17%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.footer_content_img_box-fotka{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 180px;
    width: 200px;
    position: relative;
}
.footer_content_img_box-fotka-a{
    text-decoration: none;
}
.footer_content_img_box-text{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}
.footer_content_img_box-text-info{
    margin: 5px 0 10px;
    height: 110px;
    overflow: hidden;
}
.footer_content_img_box-text-info-l{
    padding: 3px 0;
    border: 0;
    margin-bottom: 5px;
}
.footer_content_img_box-text-info-l-star{
    width: 100%;
    background: url(https://grass.su/bitrix/components/api/reviews.element.rating/templates/asgard_vote_min/images/sprite_stars_min.png) no-repeat 0 0;
    height: 15px;
    display: block;
}
.font{
    font-size: 19px;
}
.b{
    margin-left: 100px;
}